body{
  background-color: rgb(15, 23, 26);
  padding-bottom: 100px;
  font-family: Roboto, Skranji, Arial;
}

p{
  color: white;
}

.title{
  color: rgb(239, 246, 139);
  margin-top: 100px;
  text-align: center;
  font-family: Skranji;
  font-size: 48px;
  font-weight: 400;
}

.filter-position{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.filter{
  background-color: rgb(15, 23, 26);
  color: white;
  border-style: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 0px 16px 0px 16px;
  margin-top: 10px;
}

.filter:hover{
  background-color: lightblue;
  color: black;
}


.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1 column */
    gap: 150px; /* space between items */
 /* adjust the grid width as needed */
    margin: 0 auto;
    padding-top: 70px; /* center the grid */
  }

  @media (max-width: 750px){
    .image-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 1000px){
    .image-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1001px){
    .image-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  
  .image-item {
    text-align: center; /* Center the content inside each item */
  }

  /* Style each image item */
  .image-item img {
    width: 176px; /* make the images responsive to the container */
    height: auto; /* maintain aspect ratio */
    vertical-align: top;
  }

  .text-container {
    margin-top: 20px; /* space between image and text */
    vertical-align: top;
  }

  .exco-name{
    margin-bottom: -10px;
    vertical-align: top;
    font-weight: 700;
  }

  .exco-position{
    margin-bottom: -10px;
    vertical-align: top;
    font-weight: 500;
  }

  .exco-role{
    vertical-align: top;
    font-weight: 400;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Align icons to the center */
    gap: 15px; /* space between icons */
    margin-top: 10px; /* space between text and icons */
    font-size: 21px;
    vertical-align: top;
  }
  